
<div class="home__container">
  <app-card gameCover="assets/bt-1.jpg" gameLabel="DIDGITAL" gameTipe="DIGITAL | PS4" gamePrice="129,99"></app-card>
  <app-card gameCover="assets/bt-4.jpg" gameLabel="EXCLUSIVO" gameTipe="DISC | PS5" gamePrice="299,90"></app-card>
  <app-card gameCover="assets/bt-hardline.jpg" gameLabel="NEW" gameTipe="DIGITAL | PS5" gamePrice="159,90"></app-card>
  <app-card gameCover="assets/ac-cover.jpg" gameLabel="BEST OF YEAR" gameTipe="DISC | PS5" gamePrice="111,90"></app-card>
</div>
